h1{
    text-align: center;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom:32px
}
p{
    font-family: sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    
}